[Unit]
Description=Set BLE Time Advertiser Time
After=time-sync.target
StopWhenUnneeded=yes

[Service]
ExecStart=/usr/local/sbin/bletimeadv

[Install]
WantedBy=multi-user.target
WantedBy=dev-riot-tty\xbletimeadv.device systemd-user-sessions.service
