#ifndef {{ name|upper }}_H
#define {{ name|upper }}_H

#include <inttypes.h>

#ifdef __cplusplus
extern "C" {
#endif

{%- if auth_key %}
/**
 * @brief   CBOR-encoded authentication key
 */
static const uint8_t {{ name }}_auth_key_cbor[] = {
{{ auth_key }}
};
{%- endif %}

/**
 * @brief   CBOR-encoded RPK
 */
static const uint8_t {{ name }}_rpk_cbor[] = {
{{ rpk }}
};

/**
 * @brief   CBOR-encoded RPK ID
 */
static const uint8_t {{ name }}_rpk_id_cbor[] = {
{{ rpk_id }}
};

/**
 * @brief   RPK ID Value
 */
static const uint8_t {{ name }}_rpk_id_value[] = {
{{ rpk_id_value }}
};

#ifdef __cplusplus
}
#endif

#endif /* {{ name|upper }}_H */
/** @} */
